@page "/category/{categoryId:int}"
@using WebForums.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

@if (CategoryData == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<Category CategoryData=@CategoryData />
}

@code {
	private CategoryVM CategoryData { get; set; }

	[Parameter]
	public int CategoryId { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var res = await Http.GetAsync($"/api/categories/{CategoryId}");

		if (res.IsSuccessStatusCode)
		{
			CategoryData = await res.Content.ReadFromJsonAsync<CategoryVM>();
		}
		else 
		{
			NavigationManager.NavigateTo("404");
		}
	}
}
