@page "/forum/{forumId:int}"
@using WebForums.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

@if (ForumData == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table-bordered">
		<thead>
			<tr>
				<th>Title/Thread Starter</th>
				<th>Latest Post</th>
				<th>Replies</th>
				<th>Views</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var thread in ForumData.Threads)
			{
				<ThreadShort ThreadData=thread />
			}
		</tbody>
	</table>
}

@code {
	private ForumVM ForumData { get; set; }

	[Parameter]
	public int? ForumId { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var res = await Http.GetAsync($"/api/forums/{ForumId}");

		if (res.IsSuccessStatusCode)
		{
			ForumData = await res.Content.ReadFromJsonAsync<ForumVM>();
		}
		else
		{
			NavigationManager.NavigateTo("404");
		}
	}
}
