@page "/category/{categoryId:int}"
@using WebForums.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

@if (CategoryData == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<Category CategoryData=@CategoryData />
}

@code {
	private CategoryVM CategoryData { get; set; }

	[Parameter]
	public int? CategoryId { get; set; }

	protected override async Task OnInitializedAsync()
	{
		if (CategoryId.HasValue)
		{
			CategoryData = await Http.GetFromJsonAsync<CategoryVM>($"/api/categories/{CategoryId.Value}");
		}
		else 
		{
			NavigationManager.NavigateTo("404");
		}
	}
}
