@using WebForums.Shared
@inject HttpClient Http

<table class="table-bordered mb-2">
	<thead>
		<tr>
			<th colspan="2"><NavLink href=@($"/category/{CategoryData.ID}")>@CategoryData.Title</NavLink></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var forumShort in CategoryData.ForumShorts)
		{
			<ForumShort ForumShortData=@forumShort />
		}
	</tbody>
</table>

@code {
	[Parameter]
	public CategoryVM CategoryData { get; set; }
}
