@using WebForums.Shared

<tr>
	<td>
		<p class="p-0 m-0"><NavLink href=@($"/forum/{ForumShortData.ID}")>@ForumShortData.Title</NavLink></p>
		<small class="text-muted">@ForumShortData.Description</small>
	</td>
	@if (ForumShortData.LatestThreadPostedIn != null)
	{
		<td>
			<p class="p-0 m-0"><NavLink href=@($"/thread/{ForumShortData.LatestThreadPostedIn.ID}")>@ForumShortData.LatestThreadPostedIn.Title</NavLink></p>
			<small class="text-muted">@ForumShortData.LatestThreadPostedIn.LastestPost.Poster.Username</small>
			<TimeAgo Time=ForumShortData.LatestThreadPostedIn.LastestPost.Created />
		</td>
	}
</tr>

@code {
	[Parameter]
	public ForumShortVM ForumShortData { get; set; }
}
